In [1]:
# 함수명(), help() - 도움말을 보여주는 함수
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
# printf = print + function or print + format
# print, println, printf
# print 함수
x = 9
# 형식화된 문자열.format(출력할 값)
print("정수 1 : {0}".format(x))
print("정수 2 : {0}".format(3**4))

# 형변환(casting) : 자료형을 변환하는 작업
print("정수 3 : {0}".format(int(8.3)/int(2.7)))

정수 1 : 9
정수 2 : 81
정수 3 : 4.0

In [4]:
# 2개 이상의 값을 출력하는 경우
a = 10
b = 20

print("a = {0}, b = {1}".format(a, b))

a = 10, b = 20

In [5]:
print("a = {1}, b = {0}".format(b, a))

a = 10, b = 20

In [7]:
print("실수1 : {0:.3f}".format(8.3/2.7))

실수1 : 3.074

In [8]:
y = 2.5 + 4.8
print("실수2 : {0:.1f}".format(y)) # 소수첫째자리까지

실수2 : 7.3

In [9]:
r = 8 / float(3)  # 정수와 실수 = 실수
# 소숫점이하 둘째자리까지 출력
print("실수3 : {0:.2f}".format(r))
# 소숫점이하 네째자리까지 출력
print("실수3 : {0:.4f}".format(r))
# 전체 10자리중에서 소숫점이하 네째자리까지 출력
print("실수3 : {0:10.4f}".format(8.0/3))

실수3 : 2.67
실수3 : 2.6667
실수3 :     2.6667

In [10]:
# \n : 개행문자(줄바꿈 문자), 서식문자
multiline = "Hello\nPython"
print(multiline)

Hello
Python

In [11]:
multiline = '''
    안녕하세요
    파이썬
    반갑습니다.
'''
multiline

'\n    안녕하세요\n    파이썬\n    반갑습니다.\n'

In [12]:
multiline = """
    Hello
    Python
    World
"""
multiline

'\n    Hello\n    Python\n    World\n'

In [17]:
# '+', 산술연산자와 나열연산자
head = "파이썬은 "
tail = "재미있다."
print(head, tail)  # , 열거연산자 한칸의 공백
print(head + tail)  # 공백없이 출력된다.

파이썬은  재미있다.
파이썬은 재미있다.

In [19]:
name = "홍길동"
age = 33

print(name, age)
# print(name + age), 형이 일치하지 않아 오류발생
# str(숫자) : 문자열로 형변환한다.
# print(name + str(age))

print("이름 : {0}, 나이 : {1}".format(name, age))
#print("이름 : {1}, 나이 : {0}".format(name, age))
print("이름 : {1}, 나이 : {0}".format(age, name))

홍길동 33
이름 : 홍길동, 나이 : 33
이름 : 홍길동, 나이 : 33

In [20]:
a = "파이썬"
print(a * 2)
print(a * 3)

print("=" * 50)
print("My Python Program")

파이썬파이썬
파이썬파이썬파이썬
==================================================
My Python Program

In [21]:
print(5*a)

파이썬파이썬파이썬파이썬파이썬

In [22]:
# 문자열의 인덱싱(indexing), []
# 문자열의 슬라이싱(slicing)  처음위치:마지막위치-1
a = "life is too short"
a

'life is too short'

In [23]:
a[3]

'e'

In [24]:
a[0:4]  # 0, 1, 2, 3

'life'

In [25]:
# 역인덱싱
a[-2]

'r'

In [26]:
a[5:]

'is too short'

In [27]:
a[:7]  # 0 ~ 6

'life is'

In [28]:
a[:] # all

'life is too short'

In [29]:
# in과 not in : True or False
s = "Hello world"
print("world" in s)
print("world" not in s)

True
False

In [30]:
# 출력서식 %기호와 함께
# %d(%i)-decimal(integer), %f-float, %s-string
age = 30
print(type(age))  # integer, %d
print("나이 : %s세" % age)
print("나이2 : {0:5d}세".format(age))
fruit = "사과"
print("좋아하는 과일 : %s" % fruit)
print("좋아하는 과일 : {0}".format(fruit))
name = "홍길동"
print("%s님의 나이는 %d세 입니다." % (name, age))
print("{0}님의 나이는 {1}세 입니다.".format(name, age))

rate = 98
print("당첨확률이 %d%%" % rate)
print("당첨확률이 {0}%".format(rate))

pi = 3.141592
print("원주율 : %10.3f" % pi)
print("원주율 : {0:10.3f}".format(pi))

<class 'int'>
나이 : 30세
나이2 :    30세
좋아하는 과일 : 사과
좋아하는 과일 : 사과
홍길동님의 나이는 30세 입니다.
홍길동님의 나이는 30세 입니다.
당첨확률이 98%
당첨확률이 98%
원주율 :      3.142
원주율 :      3.142

In [31]:
# 원주율을 정확히 알고싶을 때
# 파이썬에서 수학 관련 함수는  math
import math

print(math.pi)

3.141592653589793

In [36]:
# 숫자인덱스 대신 변수명을 이용한 서식
result = "{name}님의 나이가 {age}입니다."\
.format(name='이순신', age=33)

print(result)

이순신님의 나이가 33입니다.

In [42]:
result = "{0:10}".format("hi")  # 왼쪽정렬(기본값)
print(result)
result = "{0:<10}".format("hi")  # 왼쪽정렬 
print(result)
result = "{0:>10}".format("hi")  # 오른쪽정렬 
print(result)
result = "{0:^10}".format("hi")  # 가운데정렬 
print(result)
result = "{0:=^10}".format("hi")  # 공백표시(=)
print(result)
result = "{0:-^10}".format("hi")  # 공백표시(=)
print(result)

hi
hi
        hi
    hi
====hi====
----hi----

In [43]:
a = "hobby"
print(a)
print(a.count('b'))

hobby
2

In [44]:
a = 'Have a nice today'
print(a)
print(a.find("nice"))  # nice문자열의 시작위치, 7
print(a.find("have"))  # 못찾으면 -1 반환

Have a nice today
7
-1

In [45]:
a = "Life is too short"
print(a.index("too"))  # 8
print(a.index("kind"))  #  못찾으면 에러발생

8

ValueError: substring not found

In [46]:
a ="," 
result = a.join("abcdefg")  # 구분자.join("문자열")
result

'a,b,c,d,e,f,g'

In [49]:
# upper, lower
a = "hello"
result = a.upper() # 대문자로
print(result)
result = a.lower() # 소문자로
print(result)

a = "python programming"
result = a.capitalize()  # 첫글자만 대문자로
print(result)

HELLO
hello
Python programming

In [50]:
# replace(A, B) A를 B로 변경
a = "신입 개발자"
result = a.replace("신입", "경력")
result

'경력 개발자'

In [51]:
a = "신입 개발자 자바 파이썬 가능자"
result = a.split()   # 공백을 기준으로 분리 - 리스트
result

['신입', '개발자', '자바', '파이썬', '가능자']

In [52]:
b = "A:B:C:D:E"
result = b.split(":")
result

['A', 'B', 'C', 'D', 'E']