### 00. 함수(Function)
- 일정한 작업을 수행하는 명령어들의 집합
- 자주 빈번하게 사용되는 기능이나 명령어를 하나의 이름으로 묶어 처리
- 형식 def(=define) 함수명(매개변수):
-                        수행할 문장들...
-                        return 리턴값

In [1]:
def function():
    pass
    # return

In [2]:
print(12345)
print("==========")
print("안녕하세요")
print("==========")
print("오늘은 월요일입니다.")
print("내일은 화요일입니다.")
print("==========")

12345
==========
안녕하세요
==========
오늘은 월요일입니다.
내일은 화요일입니다.
==========

In [4]:
# 반복문 : 동일하거나 유사한 성격을 가지고 있는 문장을 반복할 때
# 유사한 문장 : 동일한 행위를 하되 일정한 규칙을 가지고 있는 문장

def disp():
    print("==========")
    #return

In [5]:
print(12345)
#print("==========")
disp()
print("안녕하세요")
#print("==========")
disp()
print("오늘은 월요일입니다.")
print("내일은 화요일입니다.")
#print("==========")
disp()
disp()

12345
==========
안녕하세요
==========
오늘은 월요일입니다.
내일은 화요일입니다.
==========
==========

In [6]:
# 계산기 프로그램
# 두 개의 정수를 입력받아 덧셈과 뺄셈 그리고 곱셈과 나눗셈의 결과를
# 출력하는 프로그램

su1 = int(input("수1 = "))
su2 = int(input("수2 = "))

adder = su1 + su2
sub = su1 - su2
multi = su1 * su2
div = su1 / su2

print("덧셈 = ", adder)
print("뺄셈 = ", sub)
print("곱셈 = ", multi)
print("나눗셈 = ", div)

수1 = 10
수2 = 3
덧셈 =  13
뺄셈 =  7
곱셈 =  30
나눗셈 =  3.3333333333333335

In [8]:
# 함수 정의
def adder(x, y):
    #c = x + y
    return x+y

In [9]:
su1 = int(input("수1 = "))
su2 = int(input("수2 = "))
oppr = input("1.덧셈 2.뺄셈 3.곱셈 4.나눗셈 = ")

result = 0

if oppr == "1":
    result = adder(su1 , su2)   # 함수호출
elif oppr == "2":
    result = su1 - su2
elif oppr == "3":
    result = su1 * su2
elif oppr == "4":
    result = su1 / su2
else:
    print("연산자가 올바르지 않습니다.")
    
print("결과 = ", result)

수1 = 10
수2 = 5
1.덧셈 2.뺄셈 3.곱셈 4.나눗셈 = 1
결과 =  15

In [10]:
def twotimes(x):
    y = 2 * x  
    return y

In [11]:
twotimes(2)

4

In [12]:
# 하나의 숫자를 입력받아 짝수인지 홀수인지 판정하는 프로그램
# 이때, 짝수와 홀수를 판정하는 식을 함수로 구현할 것

def check(x):
    if x % 2 == 0:
        return "짝수"
    else:
        return "홀수"

In [13]:
n = int(input("수 = "))

print(check(n))

수 = 5
홀수

In [14]:
# 람다함수(lambda) : 함수의 이름을 주지않거나 코드를 짧게 줄여서 쓸때
def f(x):
    return 2 * x

In [15]:
f(2)

4

In [16]:
fin = lambda x : 2 * x

In [17]:
fin(2)

4

In [18]:
# 지역변수(local variable)와 전역변수(global)
del a

NameError: name 'a' is not defined

In [22]:
a = 1
def func(x):
    a = 10 * x
    print("a = ", a)
    return a

In [23]:
func(10)

a =  100

100

In [24]:
a

1

In [28]:
def sub1(x, y):
    return x+y

def sub2(x, y):
    print(x+y)
    #return

In [29]:
print(sub1(10, 20))  # print(30)

30

In [30]:
print(sub2(10, 20))  # print(print(30))

30
None

In [31]:
# 사용자 정의 함수와 내장 함수
abs(-100)

100

In [32]:
def my_abs(arg):
    if arg < 0:
        return arg * -1
    else:
        return arg

In [33]:
my_abs(-100)

100

In [34]:
my_abs(10)

10

In [46]:
def print_text(text='감사합니다.', count=1): # default parameter , 디폴트 매개변수, 매개변수의 초기값
    for i in range(count):
        print(text)

In [40]:
print_text('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [41]:
print_text('안녕하세요')

안녕하세요

In [44]:
print_text()

감사합니다.

In [47]:
print_text(10)

10

In [49]:
# all() : 모든 값이 True인지 검사하는 함수 
# any() : 어느거 하나라도 True인지 검사하는 함수
print(all([1, 2, 3]))
print(all([1, 2, 3, 0]))

print(any([1, 2, 3]))
print(any([0, 0, 0, 0]))

True
False
True
False

In [50]:
a = "hello"
# 문자열일 경우 빈 문자열이면 'False'로 간주한다.
if a:
    print("True")
else:
    print("False")

True

In [62]:
# 가변길이 매개변수
def texts(*text):
    result = ''   # 누적변수는 초기값을 준다.
    
    print(type(text))
    for i in text:
        result += i
        
    return result

In [63]:
texts('아버지가')

<class 'tuple'>

'아버지가'

In [61]:
texts('아버지가','방에','들어가신다')

'아버지가방에들어가신다'

In [64]:
def player(**players):   # 딕셔너리 타입의 가변길이
    
    print(type(players))
    for k in players.keys():
        print("{0} = {1}".format(k, players[k]))

In [65]:
player(카시야스 = 'GK', 호날두 = 'FW', 손흥민 = 'MF')

<class 'dict'>
카시야스 = GK
호날두 = FW
손흥민 = MF

In [ ]:
# dic{key:value, ....}

In [66]:
# add_sum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10):
# add_sum(1, 2, 3):
# add_sum(1, 2):

# people(name, age, height):
# people(name, age)
# people(name)
# people()

In [75]:
def people(name='강감찬', age=33, height=159.7):
    print("{0}님 : {1}세 : {2}".format(name, age, height))
    return

In [76]:
people('홍길동', 19, 189.7)
people('이순신', 29)
people('장보고')
people()

홍길동님 : 19세 : 189.7
이순신님 : 29세 : 159.7
장보고님 : 33세 : 159.7
강감찬님 : 33세 : 159.7

In [82]:
def add_sum(*x):
    res = 0
    
    for i in x:
        res += i
        
    return res

In [83]:
print(add_sum(1, 2))
print(add_sum(1, 2, 3))
print(add_sum(1, 2, 3, 4))
print(add_sum(1, 2, 3, 4, 5))

3
6
10
15

In [77]:
3

3

In [84]:
def total(x):
    res = 0
    
    for i in x:
        res += i
        
    return res

In [85]:
print(total([1, 2, 3, 4, 5]))

15

In [86]:
a = 1, 2, 3, 4, 5
a

(1, 2, 3, 4, 5)

In [87]:
def add_mul(choice, *args):
    if choice == "add":
        res = 0
        for i in args:
            res += i
    elif choice == "mul":
        res = 1
        for i in args:
            res *= i
    
    return res

In [90]:
result = add_mul('add', 1, 2, 3)
print(result)

result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

6
120

In [91]:
# 구구단을 출력하는 프로그램을 구현하시오.
# 키보드를 통해 단을 입력받아 해당 구구단을 출력하는 프로그램을
# 별도의 함수로 구현하시오.(gugudan)

dan = int(input("단 = "))

for i in range(1, 10):
    print("{0} x {1} = {2}".format(dan, i, dan*i))

단 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [92]:
def gugudan(dan):
    for i in range(1, 10):
        print("{0} x {1} = {2}".format(dan, i, dan*i))

In [93]:
dan = int(input("단 = "))
gugudan(dan)

단 = 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [99]:
# 함수 선언 or 정의
def say():
    a = "안녕하세요"
    print(a)
    #return a

In [98]:
# 함수 호출
print(say())

안녕하세요

In [96]:
print("안녕하세요")

안녕하세요

In [100]:
say()

안녕하세요

In [101]:
def hello(name):
    s = "Hello, {0}".format(name) 
    #print(s)
    return s

In [103]:
hello("LEE")

'Hello, LEE'

In [104]:
# 파이썬에서는 없음을 뜻하는 키워드 'None'
def hello2(name=None):
    if name == None:
        print("이름을 입력하세요.")
        return   # 제어권만 main에 넘겨준다는 의미
    
    print("Hello, ", name)

In [105]:
hello2("LEE")

Hello,  LEE

In [106]:
hello2()

이름을 입력하세요.

In [107]:
def hello3(name='KIM'):
    s = "Hello, {0}".format(name)
    print(s)

In [108]:
hello3()
hello3("LEE")

Hello, KIM
Hello, LEE

#### 함수의 유형
- 매개변수도 없고 리턴값도 없는 형태
- 매개변수는 없고 리턴값은 있는 형태
- 매개변수가 있고 리턴값이 없는 형태
- 매개변수가 있고 리턴값도 있는 형태

In [109]:
def hi():
    print("Hi")
    
hi()

Hi

In [110]:
def hi2():
    #s = "Hi"
    return "Hi"

In [111]:
print(hi2())
s = hi2()
print(s)

Hi
Hi

In [112]:
def add(x, y):
    print("{0}, {1}".format(x, y))

In [113]:
add(10, 20)

10, 20

In [114]:
def add2(x, y):
    s = "{0}, {1}".format(x, y)
    return s

In [115]:
print(add2(10, 20))
s = add2(10, 20)
print(s)

10, 20
10, 20

In [117]:
def sum(a, b):
    print("{0} + {1} = {2}".format(a, b, a+b))
    
sum(10, 20)

10 + 20 = 30

In [119]:
#sum(1)
#sum(1, 2, 3)

TypeError: sum() missing 1 required positional argument: 'b'

In [120]:
def sum2(*x):
    print(type(x), x)   # tuple 자료형으로 받아온다.
    res = 0   # 누적변수
    
    for i in x:
        res += i
        
    return res

n = sum2(10, 20)
print(n)

n = sum2(1, 2, 3, 4, 5)
print(n)

n = sum2(100)
print(n)

<class 'tuple'> (10, 20)
30
<class 'tuple'> (1, 2, 3, 4, 5)
15
<class 'tuple'> (100,)
100

In [121]:
def a():
    return 1, 2, 3, 4, 5

val = a()   # val = 1, 2, 3, 4, 5 packing
print(type(val), val)

<class 'tuple'> (1, 2, 3, 4, 5)

In [122]:
a, b, c, d, e = a()
print(a, b, c, d, e)   # unpacking

1 2 3 4 5

In [123]:
a = 1  # 전역변수 a

def test(a):  # 지역변수 a
    a = a + 1   # 지역변수의 a값 변한다.
    print("지역변수 : {0}".format(a))
    
test(10)
print(a)   # 전역변수

지역변수 : 11
1

In [124]:
a = 1

def test():
    global a
    a = a + 1
    print("a = ", a)
    
test()
print(a)

a =  2
2