In [1]:
# 리스트(List) : 여러개의 데이터를 묶어서 처리하는 순차적 자료형
# 시퀀스자료형(sequence) : 인덱스를 이용해서 접근이 허용
# [](대괄호)로 묶어준다. 
# 각요소마다 콤마(,) 구분

In [2]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [3]:
#[조건식], 인덱스값, 슬라이싱값(start:end)
etc = ['kim', 17, 189.3, True]
etc

['kim', 17, 189.3, True]

In [5]:
# 빈 리스트 만들기
a = []
print(a)
b = list()
print(b)

[]
[]

In [6]:
# range함수 : 0부터 생성
# range(횟수), range(start, end), range(start, end, step)
range(10)

range(0, 10)

In [7]:
c = list(range(10))
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
d = list(range(5, 12)) # 5 ~ 11
d

[5, 6, 7, 8, 9, 10, 11]

In [9]:
e = list(range(-4, 10, 2)) # -4 ~ 9
e

[-4, -2, 0, 2, 4, 6, 8]

In [11]:
f = list(range(10, 0, -1))
f

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
# 튜플(tuple) : 리스트와 유사하다
# 유일하게 리스트와의 차이점을 변경불가
# 괄호() 묶어서, 콤마(,) 구분
a = 10, 20, 30, 40, 50   # packing-tuple(기본형)
a

(10, 20, 30, 40, 50)

In [13]:
b = (10, 20, 30, 40, 50)
b

(10, 20, 30, 40, 50)

In [14]:
c = ('james', 33, 3.141592, False)
c

('james', 33, 3.141592, False)

In [17]:
(39)

39

In [18]:
(10, )

(10,)

In [19]:
10,

(10,)

In [20]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [22]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

In [24]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [26]:
b = (4, 5, 6)
list(b)

[4, 5, 6]

In [27]:
# 리스트와 튜플에 문자열을 담게되면
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [28]:
tuple("korea")

('k', 'o', 'r', 'e', 'a')

In [29]:
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

1 2 3

In [30]:
y = (4, 5, 6)
d, e, f = y
print(d, e, f)

4 5 6

In [31]:
# input().split() : 리스트로 반환
input().split()

10 20

['10', '20']

In [32]:
x = input().split()

10 20

In [33]:
a, b = x #input().split()
print(a, b)

10 20

In [34]:
# sequence 자료형
# list, tuple, range, str....bytes, bytearray

In [35]:
# in 연산자와 not in연산자 ... True or False
# 값 in 시퀀스자료형
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)
print(100 not in a)
print(30 not in a)

True
False
True
False

In [36]:
43 in (38, 76, 43, 62, 19)

True

In [37]:
1 in range(10)

True

In [38]:
'P' in 'Hello, Python'

True

In [39]:
# 연결연산자 '+'
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
a+b

[0, 10, 20, 30, 9, 8, 7, 6]

In [40]:
range(0, 10) + range(10, 20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [41]:
list(range(0, 10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [42]:
tuple(range(0, 10)) + tuple(range(10, 20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [44]:
'Hello, ' + 'Python'

'Hello, Python'

In [45]:
"hello" + 10

TypeError: can only concatenate str (not "int") to str

In [46]:
"hello" + str(10)

'hello10'

In [47]:
# 반복 '*'
# 시퀀스객체 * 정수
# 정수 * 시퀀스객체
[0, 10, 20, 30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [48]:
range(0, 5, 2) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [49]:
list(range(0, 5, 2)) * 3

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [50]:
"Hello" * 3

'HelloHelloHello'

In [51]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [52]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

1
2
3
4
5

In [53]:
for i in a:
    print(i)

1
2
3
4
5

In [55]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [56]:
# 2차원 리스트 : 리스트안에 리스트를 표현
a = [[10, 20],[30, 40],[50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [57]:
# 리스트[세로인덱스][가로인덱스]
a[0][0]

10

In [58]:
a[1][1]

40

In [59]:
a[2][1]

60

In [60]:
a[0][1] = 1000
a

[[10, 1000], [30, 40], [50, 60]]

In [61]:
a = [[10, 20], [500, 600, 700], [9], [30, 40], [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [800, 900, 1000]]

In [62]:
a = [[10, 20],[30, 40],[50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [63]:
for i in a:
    print(i)

[10, 20]
[30, 40]
[50, 60]

In [68]:
a = [[10, 20], [500, 600, 700], [9], [30, 40], [800, 900, 1000]]
for i in a:  # i = [10, 20]
    cnt = len(i)
    for c in range(cnt):  # cnt = 2, 0, 1
        print(i[c])
    print()

10
20

500
600
700

9

30
40

800
900
1000

In [69]:
a = [(10, 20), (30, 40), (50, 60)]
a

[(10, 20), (30, 40), (50, 60)]

In [71]:
a[0][1] = 200

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = [[10, 20],[30, 40],[50, 60]]
a

In [72]:
for x, y in a:  # i = [10, 20] or x, y = [10, 20]
    print(x, y)

10 20
30 40
50 60

In [73]:
a = [[10, 20],[30, 40],[50, 60]]
for i in a:  # i = [10, 20]
    for j in i:
        print(j, end = ' ')
    print()

10 20
30 40
50 60

In [76]:
a = [[10, 20],[30, 40],[50, 60]]
for i in range(len(a)): # 행(세로)크기
    for j in range(len(a[i])): # 열(가로)크기
        print(a[i][j], end = ' ')
    print()

10 20
30 40
50 60

In [77]:
a = [[10, 20],[30, 40],[50, 60]]

i = 0
while i < len(a):
    x, y = a[i]
    print(x, y)
    i += 1

10 20
30 40
50 60

In [78]:
a = [[10, 20],[30, 40],[50, 60]]

i = 0
while i < len(a):  # 세로(행)크기
    j = 0
    while j < len(a[i]):  # 가로(열)크기
        print(a[i][j], end = ' ')
        j += 1
    print()
    i += 1

10 20
30 40
50 60

In [79]:
a = []   # 빈 리스트 생성

for i in range(10):
    a.append(0)
    
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [81]:
# 2차원 리스트 [[0,0], [0,0],[0,0]]
a = []

for i in range(3):
    item = []
    for j in range(2):
        item.append(0)
        
    a.append(item)   
print(a)

[[0, 0], [0, 0], [0, 0]]

In [82]:
a = [[0 for j in range(2)] for i in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [83]:
# 가로크기가 저장된 리스트를 이용하여 2차원 리스트를 생성하시오.
# 리스트의 요소값은 모두 0으로 설정할 것
a = [3, 1, 3, 2, 5]   # 가로크기를 저장한 리스트
b = []

for i in a:
    item = []  # 안쪽 리스트 요소의 빈 리스트 생성
    for j in range(i):
        item.append(0)
    b.append(item)
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [84]:
a = [[0] * i for i in [3, 1, 3, 2, 5]]
a

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [85]:
# 2차원 리스트 정렬
# sorted(반복가능한객체, key=정렬함수, reverse=True or False)

students = [['lee', 'C', 19],
            ['kim', 'A', 25],
            ['park', 'B', 7]]

print(sorted(students, key=lambda student:student[1]))

[['kim', 'A', 25], ['park', 'B', 7], ['lee', 'C', 19]]

In [86]:
print(sorted(students, key=lambda student:student[2]))

[['park', 'B', 7], ['lee', 'C', 19], ['kim', 'A', 25]]

In [87]:
# reverse : 리스트를 거꾸로 뒤집는다. 
a = [1, 10, 5, 7, 6]
a.reverse()
a

[6, 7, 5, 10, 1]

In [89]:
# sort : 기본값(오름차순), reverse=True(내림차순)
a = [1, 10, 5, 7, 6]
a.sort()
a

[1, 5, 6, 7, 10]

In [90]:
a = [1, 10, 5, 7, 6]
a.sort(reverse=True)
a

[10, 7, 6, 5, 1]

In [91]:
string = "나는 파이썬을 잘하고 싶다"
string = string.split()
string

['나는', '파이썬을', '잘하고', '싶다']

In [92]:
string.sort(key=len)
string

['나는', '싶다', '잘하고', '파이썬을']

In [93]:
# 정렬된 결과를 반환하는 함수는 원본이 변하지 않는다.
# sorted : 순서대로 정렬, 정렬된 결과가 리스트로 반환
x = [1, 11, 2, 33]
y = sorted(x)
print(x)
print(y)

[1, 11, 2, 33]
[1, 2, 11, 33]